<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add a Recipe</title>
<style>
.username.ng-valid {
	background-color: lightgreen;
}

.username.ng-dirty.ng-invalid-required {
	background-color: red;
}

.username.ng-dirty.ng-invalid-min {
	background-color: yellow;
}

.email.ng-valid {
	background-color: lightgreen;
}

.email.ng-dirty.ng-invalid-required {
	background-color: red;
}
</style>
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/app.css" />
</head>
<body>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>

	<script>
		/*<![CDATA[*/
		var app = angular.module('myApp', []);
		app.controller('addRecipeCtrl', function($scope, $http, $q) {
			console.log("Hit!");

			$scope.reset = function() {
				$scope.recipe = {
					name : '',
					price : '',
					ingredientsList : []
				};
				if (undefined != $scope.addRecipeForm) {
					$scope.addRecipeForm.$setPristine(); // reset Form
				}
			}

			$http.get("/api/v1/inventory").then(function(response) {
				$scope.list = response.data.inventoryList;
				console.log(list);
			}, function(rejection) {
				console.error("Error while getting Inventory");
			})

			$scope.submit = function() {
				$scope.addRecipe();

				$scope.reset();
				
			
			}

			$scope.addRecipe = function() {
				$scope.success = false;
				$scope.failure = false;
				$scope.duplicate = false;
				$scope.fullStorage = false;
				$scope.negativePrice = false;
				$scope.atLeastOneIngredient = false;
			
				
				if($scope.recipe.price < 0){
					$scope.negativePrice = true;
					return;
					
				}
				$http.post("/api/v1/recipes", $scope.recipe).then(
						function(success) {
							$scope.success = true;
							$scope.failure = false;
						}, function(rejection) {
							if(rejection.status == 409)
								$scope.duplicate = true;
							if(rejection.status == 507)
								$scope.fullStorage = true;
							if(rejection.status == 400)
								$scope.atLeastOneIngredient = true;
							
							console.error("Error while adding recipe");
						});
			}
			
			$scope.addIngredient = function(ing){
				$scope.success = false;
				$scope.failure = false;
				var found = false;	
				$scope.negativeAmount = false;
				if(ing.amount < 0){
					$scope.negativeAmount = true;
					return;
				}
				for(var i=0; i< $scope.recipe.ingredientsList.length; i++){
					if($scope.recipe.ingredientsList[i].ingredient === ing.ingredient){
						$scope.recipe.ingredientsList[i].amount = ing.amount;
						found = true;
						break;
					}
				}
				if(!found){
					console.log("in not");
				if(ing.checked){
					$scope.recipe.ingredientsList.push({
					ingredient : ing.ingredient,
					amount : ing.amount
					});
				}}
				console.log($scope.recipe);
					
				
			}
			$scope.removeIngredient = function(ing){
				if(!ing.checked){
					
				let index = $scope.recipe.ingredientsList.findIndex(item => item.ingredient === ing.ingredient);
				$scope.recipe.ingredientsList.splice(index, 1);
				console.log($scope.recipe);
				}
				
			}

			$scope.reset();

		});
		/*]]>*/
	</script>



	<div ng-app="myApp" class="generic-container ng-cloak"
		ng-controller="addRecipeCtrl as ctrl">
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="lead">Add a Recipe</span>
			</div>

			<div class="formcontainer">
				<form ng-submit="submit()" name="addRecipeForm"
					class="form-horizontal">

					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="file">Name</label>
							<div class="col-md-7">
								<input type="text" ng-model="recipe.name" name="name"
									class="name form-control input-sm"
									placeholder="Enter recipe name" required="0" />
								<div class="has-error" ng-show="addRecipeForm.$dirty">
									<span ng-show="addRecipeForm.name.$error.required">This
										is a required field</span> <span
										ng-show="addRecipeForm.name.$invalid">This field is
										invalid </span>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="file">Price</label>
							<div class="col-md-7">
								<input type="text" ng-model="recipe.price" name="price"
									class="price form-control input-sm"
									placeholder="Enter recipe price" required="0" />
								<div class="has-error" ng-show="addRecipeForm.$dirty">
									<span ng-show="addRecipeForm.price.$error.required">This
										is a required field</span> <span
										ng-show="addRecipeForm.price.$error.min">Minimum amount
										is 0</span> <span ng-show="addRecipeForm.price.$invalid">This
										field is invalid </span>
								</div>
							</div>
						</div>
					</div>







					<div class="row">
						<div class="form-actions floatRight">
							<input type="submit" value="Submit"
								class="btn btn-primary btn-sm"
								ng-disabled="addRecipeForm.$invalid" />
							<button type="button" ng-click="reset()"
								class="btn btn-warning btn-sm"
								ng-disabled="addRecipeForm.$pristine">Reset Form</button>
						</div>
					</div>
				</form>
				<h5>Current Ingredients in the Inventory</h5>
				<div ng-repeat='ingredient in list'>
					<!-- A checkbox displaying the progress -->
					<input type='checkbox' ng-model="ingredient.checked"
						ng-change='removeIngredient(ingredient)' />
					<!-- An information of a task -->
					<span>{{ingredient.ingredient}}</span>
					<div class='input-form'>
						<input type='text' ng-model='ingredient.amount' ng-hide="true"
							ng-show="ingredient.checked" placeholder="Enter amount"
							required="0" />

						<button ng-click='addIngredient(ingredient)' ng-hide="true"
							ng-show="ingredient.checked">Add</button>


					</div>
				</div>
			</div>
			<div ng-show="success">Recipe Created</div>
			<div ng-show="failure">Error while adding recipe.</div>
			<div ng-show="duplicate">Recipe with this name exists.</div>
			<div ng-show="fullStorage">Only three recipes allowed</div>
			<div ng-show="negativePrice">Price should be positive</div>
			<div ng-show="atLeastOneIngredient">At least one ingredient should be selected</div>
			<div ng-show="negativeAmount"> Amount should be positive</div>
			
			
		</div>

		<a href="/index">Home</a>
	</div>



</body>
</html>
